.saes{
  width: 400px;
  height: 550px;
  padding: 0 12px;
}
.inputs{
width: 100%;
}

.adjustInput{
  position: relative;
  padding: 0;
  margin: 0px;
  width: 50%;
}

mat-form-field{
  font-size: 13px;
}
.btn{
  background-color: rgb(223, 223, 223);
}
